/*style.css*/
@charset "utf-8";

body {
    background-image: url(../images/bgrd/old_wall/old_wall.png); 
}

/* MAIN HEADSHOT */
img.headshot {
    width: 25%;
    border-radius: 50%;
    padding: 0px;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;  
}

/* My Header Name */
h3.name {
    text-align: center;
    font-family: 'Nothing You Could Do', cursive;
    text-shadow: 2px 2px 2px #d3d3d3;
}

/* font-family: 'Libre Baskerville', serif; */

/* Header Quote */
h5.quote {
    text-align: center;
    font-size: 18px;
}

/* Subject Title */
h5.subject {
    margin-top: 1rem;
}

/* Navigation Bar */
div.navbar {
    text-align: center;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 7rem;
    background-color: none;
}

nav.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    margin-top:12px;
}




/* TILES */
#tiles {
    padding: 1.5rem;
    border-radius: 10px;
    border: 1px solid lightgray;
    margin-bottom: 5rem;
    background-image: url(../images/bgrd/retina_wood/retina_wood.png);
    -webkit-box-shadow: 8px 8px 6px -6px #999;
       -moz-box-shadow: 8px 8px 6px -6px #999;
            box-shadow: 8px 8px 6px -6px #999;
}
/* Project Name */
.project_name { 
}

/* Project Tagline */
.project_tagline {
}

/* Project Description */
.project_description {
    text-align: justify;
}

iframe {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

/** LIGHTBOX MARKUP **/
.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	/** Pad the lightbox image */
	max-width: 90%;
	max-height: 80%;
	margin-top: 2%;
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}


/* Paragraph formatting - About Me & Paragraph */ 
p.summary {
    text-align: justify;
}

p.resume {
    text-align: center;
}



/* Footer */
ul.contacts {
    text-align: right;
}

ul.contacts li {
    list-style-type: none;
    display: inline-block;
}

ul.contacts li a:link {
    color: #000000;
    text-decoration: none;
}

ul.contacts li a:visited {
    color: #000000;
    text-decoration: none;
}

ul.contacts li a:active {
    color: #000000;
    text-decoration: none;
}

ul.contacts li a:hover {
    color: green;
    text-decoration: none;
}

p.copyright {
    text-align: left; 
}

    /* Larger than mobile */
@media (min-width: 400px) {
  ul.contacts {text-align: center;}
  p.copyright {text-align: center;}
}

    /* Larger than phablet */
@media (min-width: 550px) {
  ul.contacts {text-align: right}
  p.copyright {text-align: left;}
}


/* Credit Attributions */
/* Background pattern from subtlepatterns.com */
/* Font Awesome by Dave Gandy - http://fontawesome.io */