@charset "utf-8";

body {
    padding-top: 70px;
    background-image: url(../images/backgrounds/food/food2.png);
    background-attachment:fixed; /* fixed background */
}

/* NAVIGATION */
.minilogo {
  max-height: 3rem;
}

a.offset:before { 
    display: block; 
 	  content: " "; 
  	height: 70px; /* height of fixed nav bar */
    margin-top: -70px; /* Give negative margin of your fixed element */  	
    visibility: hidden; 
}


/* HEADER */
.logo {
    max-width: 100%;
    width: auto\9; /* ie8 */
}

#tagline{
    font-family: 'Alfa Slab One', cursive;
}


/* MAIN WEBSITE BANNER */
.banner {
    max-width: 100%;
}


/* TILES */
#tiles {
    padding: 1.5rem;
    background-image: url(../images/backgrounds/texturetastic_gray/texturetastic_gray.png);
    -webkit-box-shadow: 8px 8px 6px -6px #999;
       -moz-box-shadow: 8px 8px 6px -6px #999;
            box-shadow: 8px 8px 6px -6px #999;
}


/* ABOUT US */
div.aboutus {
    
}


/* MENU SECTION */
h5.subsection {
    font-family: "Raleway", "", "Helvetica Neue",  Helvetica, Arial, sans-serif;
}

i.quote {
    font-weight: 300;
    font-size: 15px;
}

ul.food_drinks li {
    list-style-type: none; 
}

div.appetizers {
    background: none;
    margin-left: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

div.beverages {
    background: none;
    margin-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

div.burgers {
    background: none;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
}


/* OUR FRIENDS */



/* LOCATION */



/* CONTACT US SECTION */
ul.contacts {
    padding-left: 0px;
}

ul.contacts li {
    list-style-type: none; 
}

/* FOOTER */
/* COPYRIGHT SECTION */
hr.copyright_bar {
    width: 100% auto;
}

.copyright {
    text-align: center;
}

/* Credit Attributions */
/* Background pattern from subtlepatterns.com */